.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.clear {
    clear: both;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.index-toolbar .center {
	width: 0;
}

.list__item {
	padding-right: 34px;
}