.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.clear {
    clear: both;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.index-toolbar .center {
	width: 0;
}

.list__item {
	padding-right: 34px;
}

.fixed {
	position: fixed;
	bottom : 0;
	left : 0;
	width : 100%;
	background: #ccc;
	color: black;
	font-size: 9px;
	border-top : #444 1px solid;
}